<div class="container">
  <div class="row">
    <div class="col-ms-12">
      <h1><%= @incubator.serial_code %></h1>
      <table>
        <thead>
          <tr>
            <th>Incubator_id</th>
            <th>Position</th>
            <th>Date</th>
            <th>Time Initial</th>
            <th>Time end</th>
            <th>Type</th>
            <th>Upshot</th>
          </tr>
        </thead>
        <tbody>
          <% @incubator.entries.each do |entry| %>
          <tr>
            <th><%= entry.incubator_id %></th>
            <th><%= entry.position %></th>
            <th><%= entry.date %></th>
            <th><%= entry.time_initial %></th>
            <th><%= entry.time_end %></th>
            <th><%= entry.biotype %></th>
            <th><%= entry.upshot %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
